streamlit
transformers 
torch
bitsandbytes
protobuf



numpy
matplotlib
streamlit==1.41.1
transformers==4.47.1
torch==2.5.1+cpu  # Adjust the version if you're using a GPU
numpy
matplotlib

